<div id="content"></div>
<script type="text/javascript">
  $(document).ready(function(){
    var fname = "<%= @user.fname %>";
    var lname = "<%= @user.lname %>";
    var email = "<%= @user.email %>"
    var session_token = "<%= @user.session_token if logged_in? %>"
    var currentUser = {
      fname: fname,
      lname: lname,
      email: email,
      session_token: session_token
    }
    FitsApp.initialize(currentUser);
  });
</script>
