<form id="ticket-form" role="form" class="col-md-4 col-md-offset-4 col-xs-4 col-xs-offset-4">
  <ul class="errors"></ul>
  <button class="close">&times;</button>
  <div class="form-group">
    <label for="subject">Subject:</label>
    <input type="text" class="form-control" id="subject">
  </div>
  <div class="form-group">
    <label for="text">Text:</label>
    <input type="text" class="form-control" id="text">
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>
