<h1>Tickets</h1>
<p>
    View and add tickets here.
</p>
<div class="container add-tickets">
  <input type="button" class="btn btn-success add-ticket" value="Add Ticket">
  <div id="ticket-form-container" class="col-md-12 col-xs-12"></div>
</div>
<div id="tickets-index" class="col-md-12 col-xs-12"></div>
