<div class="container">
  <div class="col-md-6 col-xs-6">
    <img class="img-responsive" src="assets/full.jpg"/>
  </div>
  <div class="col-md-6 col-xs-6 footer-links">
    <p class="footer-link" style="margin-bottom: 5px">
      <a id="contact-link" href="#">Contact Us</a>
    </p>
    <div class="strike-through">
    </div>
    <p class="footer-link" style="margin-top: 5px; margin-bottom: 5px">
      <a href="#">Get Started</a>
    </p>
    <div class="strike-through">
    </div>
    <p class="footer-link" style="margin-top: 5px;">
      <a href="#">What we do</a>
    </p>
  </div>
</div>
