<div class="jumbo-container">
  <div class="splash-image"></div>
  <div class="intro-container">
    <p>
      Personalized IT Support On Demand
    </p>
    <input type="button"  value="Get Started" class="btn btn-info get-started">
  </div>
</div>
<div class="how-it-works container">
  <h2>How It Works</h2>
  <div class="col-md-3 col-xs-3">
    <i class="fa fa-eye fa-5x"></i>
    <h5>
      Step 1:
    </h5>
    <p>
      Monitoring and support for your IT needs.
    </p>
  </div>
  <div class="col-md-1 col-xs-1">
    <i class="fa fa-arrow-right fa-4x"></i>
  </div>
  <div class="col-md-3 col-xs-3">
    <i class="fa fa-user-md fa-5x"></i>
    <h5>
      Step 2:
    </h5>
    <p>
      Personalized IT support.
    </p>
  </div>
  <div class="col-md-1 col-xs-1">
    <i class="fa fa-arrow-right fa-4x"></i>
  </div>
  <div class="col-md-3 col-xs-3">
    <i class="fa fa-link fa-5x"></i>
    <h5>
      Step 3:
    </h5>
    <p>
      Issue is quickly resolved. Go back to enjoying your day.
    </p>
  </div>
</div>
<div class="why-fits container">
  <h2>Why Forward IT Solutions</h2>

  <div class="row">
    <div class="spacer">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-6 product-image" style="border-right: 2px solid #cccccc">
      <img src="assets/product_pic.jpg" class="img-responsive" alt="" />
    </div>
    <div class="col-md-6 col-xs-6 product-description">
      <h4>Product Excellence</h4>
      <p>
        Our signature video solution provides immediate, real-time IT support through our high-quality video platform.
        Whether your needs are personal or commercial, our support staff is only a click away at any time. Our client
        is custom-built to be a lightweight video solution to provide lightning-fast application speeds.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="spacer">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-6 team-description" style="border-right: 2px solid #cccccc">
      <h4>Team Excellence</h4>
      <p>
        Our support staff is ready to field problems 24/7 across a wide range of IT challenges. We have a proven
        track record of tackling routine computer trouble, but our staff regularly takes on new problems we have
        not seen before. Regardless, if you ever face difficulty using your computer, simply click our icon, and
        one of our dedicated staffers will quickly resolve your issue.
      </p>
    </div>
    <div class="col-md-6 col-xs-6 team-image">
      <img src="assets/excellence.jpg" class="img-responsive" alt="" />
    </div>
  </div>
</div>
<div id="footer-view"></div>
