<div class="login-form-container container">
  <h2>User Login</h2>
  <form id="user-auth-form" role="form" class="col-md-4 col-md-offset-4 col-xs-4 col-xs-offset-4">
    <ul class="errors"></ul>
    <div class="form-group login-radios">
      <label for="sign-in-button"><input checked type="radio" name="group1" id="sign-in-button" value="1" /><span style="padding-left: 10px;padding-right: 10px;">Sign In</span></label>
      <label for="sign-up-button"><input type="radio" name="group1" id="sign-up-button" value="1" /><span style="padding-left: 10px;padding-right: 10px;">Sign Up</span></label>
    </div>
    <div id="name-fields"></div>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
  </form>
</div>

<div id="footer-view"></div>
