<div class="form-group" id="fname-field">
  <label for="fname">First Name:</label>
  <input type="text" class="form-control" id="fname">
</div>
<div class="form-group" id="lname-field">
  <label for="lname">Last Name:</label>
  <input type="text" class="form-control" id="lname">
</div>
